# Visual Studio files
.vs/
.vscode/
bin/
obj/
publish/
*.user

# NuGet packages
packages/

# MSTest out folder
TestResults/

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
assets/docs/*.pdf

# Doxygen
Congo.Assets/Resources/doxygen

# Executables
*.exe
*.msi
