# Visual Studio files
.vs/
bin/
obj/
publish/
*.user
TestResults/

# NuGet packages
packages/

# LaTeX files
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.toc
