# Visual Studio files
.vs/
.vscode/
bin/
obj/
publish/
*.user
*/Properties/launchSettings.json

# NuGet packages
packages/

# MSTest out folder
TestResults/

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
assets/docs/*.pdf

# Doxygen
Congo.Assets/Resources/Doxygen

# Executables
*.exe
*.msi

# Server files
Congo.Server/Data/
